<div class="container__about">
  <div class="container__text">
    <h1>O que é "Mama-Shiva"?</h1>
    <p>Uma empresa nova no ramo da <span>alimentação</span>, É
      um restaurante de fusão que mistura <span>comida
      italiana</span> com <span>comida Indiana</span>.
      Seus donos, um casal composto por uma
      italiana casada com um indiano que vieram
      morar na região nordeste do Brasil prezam pela
      utilização de <span>produtos de qualidade e
      alimentos frescos</span>, de preferência orgânicos e
      com certificado de procedência.</p>
  </div>
</div>
