@media(max-width:600px) {
  .container__text {
    width: 100%;
    height: 350px;
  }

  .container__text > ul > li > h1 {
    font-size: 25px;
  }

  .container__text > ul > li > h3 {
    font-size: 15px;
  }

}

@media(max-width:380px) {

  .container__text {
    height: 80%;
  }

}
