<div class="container__values">
  <div class="container__text">
    <h1>Valores</h1>
    <ul>
      <li>
        <h3><span>Qualidade:</span> Nós valorizamos a qualidade em tudo o que fazemos, desde a seleção dos
          nossos ingredientes até o serviço que oferecemos</h3>
      </li>
      <li>
        <h3><span>Frescor:</span> Acreditamos que o frescor é essencial para garantir o melhor sabor e aroma
          em nossos pratos. Por isso, trabalhamos com produtos frescos e orgânicos.</h3>
      </li>
      <li>
        <h3><span>Sustentabilidade:</span> Temos um compromisso com a sustentabilidade e trabalhamos com
          fornecedores locais que compartilham da mesma visão. Apoiamos a agricultura
          sustentável e promovemos práticas ambientalmente responsáveis.</h3>
      </li>
      <li>
        <h3><span>Diversidade:</span> Celebramos a diversidade e estamos comprometidos em oferecer uma
          experiência inclusiva e acolhedora a todos os nossos clientes.</h3>
      </li>
      <li>
        <h3><span>Inovação:</span> Estamos sempre buscando novas maneiras de surpreender nossos clientes
          e criar pratos inovadores que misturam as culturas italiana e indiana de forma única.</h3>
      </li>
    </ul>
  </div>
</div>
