<div class="container__mission">
  <div class="container__text">
    <h1>Missão</h1>
    <p>Nossa missão é oferecer uma experiência única aos nossos clientes, misturando
      as ricas culturas italiana e indiana em cada prato que servimos. Valorizamos
      produtos de alta qualidade, frescos e orgânicos, escolhidos cuidadosamente de
      fornecedores locais com certificado de procedência. Estamos comprometidos em
      proporcionar um ambiente acolhedor e um serviço excepcional, criando
      memórias gastronômicas inesquecíveis para nossos clientes.</p>
  </div>
</div>
