.container__footer {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background: rgb(251,241,204);
  background: radial-gradient(circle, rgba(251,241,204,1) 0%, rgba(255,153,51,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__footer > ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.container__footer > ul > li {
  color: #352005;
}
